.m-banner-sale {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;

  &__btn {
    position: absolute;
    bottom: 8%;
    right: 17%;

    width: 213px;
    height: 54px;

    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 700;

    background-color: #FDEB37;
    border: none;
  }
}
