.t-menu {
  width: 100%;
  min-height: 80px;

  border-top: 0.2rem solid var(--black);
  border-bottom: 0.2rem solid var(--black);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5.5rem;

  &__cart {
    width: 64px;
  }
}
